.gridcontainer {
  display: grid;
  grid-template-columns: 28% 28% 28%;
  gap: 2cm;
  padding: 2cm;
  border: 2px solid black; 
  margin-left: 0.5cm;
  margin-right: 1cm;
}

.coursecontainer {
  border: 3px solid black;
  padding: 10px;
  /* margin: 10px; */
  width: 7.80cm;
  text-align: center;
}
