.parent {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-template-rows: repeat(2, 1fr);
  grid-column-gap: 0px;
  grid-row-gap: 20px;
  }
  .rectangleDiv { 
    border-radius: 20px;
    background-color: #fff;
    box-shadow: 0px 18.829999923706055px 47.08px rgba(47, 50, 125, 0.1);
    width: 349px;
    height: 377px;
    }
    .description {
      margin-top: 15px;
      font-size: 15px;
      border-radius: 8px; 
      padding: 35px; 
    }
    .design {
      position: relative;
      font-size: 30px;
      letter-spacing: 0.02em;
      font-weight: 600;
      font-family: Poppins;
      color: #000;
      text-align: left;
      margin-left: 33%;
      margin-top: 20px;
      }

      .rectangleIcon {
        position: relative;
border-radius: 4px;
        width: 100px;
        height: 90px;
        margin-left: 32%;
        margin-top: 20px;
        }
      .container{
        margin-right: 10cm;
      }
      .parent1{
          display: grid;
          grid-template-columns:repeat(3,1fr) ;
          grid-template-rows: repeat(2, 1fr);
          grid-column-gap: 10px;
          grid-row-gap: 5cm;
      }
      .rectangleDiv1{
        border-radius: 20px;
        background-color: #fff;
        box-shadow: 0px 18.829999923706055px 47.08px rgba(47, 50, 125, 0.1);
        width: 400px;
        height: 470px;
        }

        .design1 {
          position: relative;
          font-size: 30px;
          letter-spacing: 0.02em;
          font-weight: 600;
          font-family: Poppins;
          color: #000;
          text-align: left;
          margin-left: 33%;
          margin-top: 20px;
          }
    
          .image10Icon {
            margin-top: 0.5cm;
            position: relative;
            margin-left: 2.95cm;
            width: 150px;
            height: 150px;
            object-fit: cover;
            }
.descriptionWithBorderRadius {
  margin-top: 15px;
  border: 2px solid #000; 
  border-radius: 8px; 
  padding: 35px;

}
