.groupChild {
  position: absolute;
  top: 0;
  left: 0;
  border-radius: 6px;
  width: 83px;
  height: 83px;
}
.totc {
  position: absolute;
  top: 17px;
  left: 22px;
  letter-spacing: 0.04em;
}
.polygonParent {
  position: absolute;
  top: 30px;
  left: 120px;
  width: 114px;
  height: 83px;
  font-size: 32px;
}
.aboutUs,
.blog,
.careers,
.courses,
.home {
  position: absolute;
  top: 55px;
  left: 869px;
  letter-spacing: 0.02em;
}
.aboutUs,
.blog,
.careers,
.courses {
  left: 1188px;
}
.aboutUs,
.blog,
.courses {
  left: 1016px;
}
.aboutUs,
.blog {
  left: 1359px;
}
.aboutUs {
  left: 1489px;
}
.footerChild {
  position: absolute;
  top: 0;
  left: 0;
  background-color: #252641;
  width: 1920px;
  height: 593px;
}
.classTechnologiesInc,
.subscribeToGet {
  position: absolute;
  top: 520px;
  left: 781px;
  letter-spacing: 0.04em;
}
.subscribeToGet {
  top: 252px;
  left: 740px;
  font-size: 26px;
  font-weight: 500;
}
.groupInner,
.groupItem {
  position: absolute;
  top: 7.5px;
  left: 112.5px;
  border-right: 1px solid #626381;
  box-sizing: border-box;
  width: 1px;
  height: 18px;
}
.groupInner {
  left: 313.5px;
}
.careers1,
.privacyPolicy,
.termsConditions {
  position: absolute;
  top: 0;
  left: 0;
  letter-spacing: 0.04em;
}
.privacyPolicy,
.termsConditions {
  left: 133px;
}
.termsConditions {
  left: 334px;
}
.lineParent,
.rectangleDiv {
  position: absolute;
  top: 467px;
  left: 678px;
  width: 564px;
  height: 33px;
}
.rectangleDiv {
  top: 0;
  left: 0;
  border-radius: 80px;
  border: 1px solid #83839a;
  box-sizing: border-box;
  width: 400px;
  height: 60px;
}
.yourEmail {
  position: absolute;
  top: 15px;
  left: 30px;
  letter-spacing: 0.04em;
}
.groupChild1,
.groupChild2 {
  position: absolute;
  border-radius: 60px;
}
.groupChild1 {
  top: 30px;
  left: 12px;
  background-color: #545ae8;
  filter: blur(54px);
  width: 151px;
  height: 29px;
  opacity: 0.5;
}
.groupChild2 {
  top: 0;
  left: 0;
  background-color: #49bbbd;
  width: 179px;
  height: 60px;
}
.subscribe {
  position: absolute;
  top: 14px;
  left: 34px;
  font-weight: 500;
}
.rectangleGroup {
  position: absolute;
  top: 0;
  left: 420px;
  width: 179px;
  height: 60px;
  text-align: left;
  font-size: 22px;
  color: #fff;
}
.rectangleParent {
  position: absolute;
  top: 311px;
  left: 661px;
  width: 599px;
  height: 60px;
  font-size: 20px;
  color: #83839a;
}
.footer {
  position: absolute;
  top: 6260px;
  left: 0;
  width: 1920px;
  height: 593px;
  text-align: center;
  color: #b2b3cf;
}
.rectangleIcon,
.rectangleIcon1 {
  position: absolute;
  top: 143px;
  left: 0;
  width: 1920px;
  height: 785px;
  opacity: 0.2;
  mix-blend-mode: normal;
}
.rectangleIcon1 {
  top: 5314px;
  height: 946px;
}
.groupChild3,
.groupChild4 {
  position: absolute;
  top: 0;
  left: 70px;
  border-radius: 4px;
  width: 50px;
  height: 50px;
}
.groupChild4 {
  left: 0;
}
.div,
.div1,
.vectorParent {
  position: absolute;
  top: 11px;
  left: 89px;
}
.div1,
.vectorParent {
  left: 19px;
}
.vectorParent {
  top: 628px;
  left: 1567px;
  width: 120px;
  height: 50px;
}
.choiceFavouriteCourse,
.welcomeBackReady {
  position: absolute;
  top: 0;
  left: 0;
  font-weight: 600;
  display: inline-block;
  width: 966px;
}
.choiceFavouriteCourse {
  top: 815px;
  width: 792px;
}
.groupChild5,
.groupChild6 {
  position: absolute;
  top: 0;
  border-radius: 20px;
}
.groupChild5 {
  left: 0;
  background-color: #fff;
  box-shadow: 0 18.829999923706055px 47.08px rgba(47, 50, 125, 0.1);
  width: 529px;
  height: 474px;
}
.groupChild6 {
  left: 0.91px;
  width: 486.36px;
  height: 258.38px;
  object-fit: cover;
}
.groupChild7,
.rectangleParent1 {
  position: absolute;
  top: 0;
  left: 0;
  height: 258.38px;
}
.groupChild7 {
  border-radius: 20px;
  background-color: #171b41;
  width: 486.36px;
  opacity: 0.1;
}
.rectangleParent1 {
  width: 487.27px;
}
.awsCertifiedSolutions {
  position: absolute;
  top: 270.4px;
  left: 4.27px;
  line-height: 180%;
  font-weight: 500;
  display: inline-block;
  width: 412px;
  height: 48px;
}
.groupParent1,
.lina {
  position: absolute;
  top: 19.6px;
  left: 20.73px;
  width: 487.27px;
  height: 318.4px;
}
.lina {
  top: 354px;
  left: 82px;
  font-size: 18px;
  letter-spacing: 0.02em;
  font-weight: 500;
  color: #000;
  display: inline-block;
  width: 42.73px;
  height: 30.36px;
}
.groupChild8 {
  top: 0;
  left: 0;
  border-radius: 60px;
  background-color: #d9d9d9;
}
.groupChild8,
.image12Icon,
.rectangleParent2 {
  position: absolute;
  width: 42px;
  height: 42px;
}
.image12Icon {
  top: 0;
  left: 0;
  border-radius: 60px;
  object-fit: cover;
}
.rectangleParent2 {
  top: 348px;
  left: 25px;
}
.groupChild10,
.groupChild9 {
  position: absolute;
  top: 0;
  left: 0;
  border-radius: 2px;
  background-color: #d9d9d9;
  width: 483px;
  height: 8px;
}
.groupChild10 {
  background-color: #49bbbd;
  width: 372px;
}
.lesson5Of,
.rectangleParent3 {
  position: absolute;
  top: 415px;
  left: 25px;
  width: 483px;
  height: 8px;
}
.lesson5Of {
  top: 435px;
  left: 414px;
  font-size: 14px;
  letter-spacing: 0.02em;
  font-weight: 600;
  color: rgba(0, 0, 0, 0.5);
  display: inline-block;
  width: 93px;
  height: 27px;
}
.groupDiv,
.groupIcon {
  position: absolute;
  top: 0;
  left: 0;
  width: 529px;
  height: 474px;
}
.groupIcon {
  width: 486.36px;
  height: 258.38px;
  object-fit: cover;
}
.awsCertifiedSolutions1 {
  position: absolute;
  top: 270.4px;
  left: 3.36px;
  line-height: 180%;
  font-weight: 500;
  display: inline-block;
  width: 412px;
  height: 48px;
}
.groupParent3 {
  position: absolute;
  top: 19.6px;
  left: 21.64px;
  width: 486.36px;
  height: 318.4px;
}
.groupContainer,
.groupParent2,
.groupParent4 {
  position: absolute;
  top: 0;
  left: 579px;
  width: 529px;
  height: 474px;
}
.groupContainer,
.groupParent4 {
  left: 1158px;
}
.groupContainer {
  top: 104px;
  left: 0;
  width: 1687px;
  font-size: 24px;
}
.viewHisotry {
  position: absolute;
  top: 18px;
  left: 1553px;
  font-size: 20px;
  color: #49bbbd;
}
.groupParent,
.welcomeBackReadyForYourNParent {
  position: absolute;
  top: 0;
  left: 0;
  width: 1687px;
  height: 869px;
  font-size: 36px;
  color: #252641;
  font-family: Poppins;
}
.groupParent {
  top: 193px;
  left: 120px;
  font-size: 24px;
  color: #fff;
  font-family: "Font Awesome 5 Free";
}
.rectangleIcon2 {
  position: absolute;
  top: 0;
  left: 0;
  width: 1920px;
  height: 1022px;
  opacity: 0.2;
  mix-blend-mode: normal;
}
.recommendedForYou {
  position: absolute;
  top: 0;
  left: 0;
  letter-spacing: 0.02em;
  font-weight: 500;
}
.seeAll {
  position: absolute;
  top: 18px;
  left: 1576px;
  font-size: 20px;
  color: #49bbbd;
}
.groupChild20,
.recommendedForYouParent {
  position: absolute;
  top: 0;
  left: 0;
  width: 1643px;
  height: 48px;
}
.groupChild20 {
  border-radius: 20px;
  background-color: #fff;
  box-shadow: 0 18.829999923706055px 47.08px rgba(47, 50, 125, 0.1);
  width: 374px;
  height: 617px;
}
.groupChild21 {
  left: 0;
  border-radius: 20px;
  width: 334px;
  object-fit: cover;
}
.groupChild21,
.groupChild22,
.rectangleParent12 {
  position: absolute;
  top: 0;
  height: 238.66px;
}
.groupChild22 {
  left: 0.02px;
  border-radius: 20px;
  background-color: #171b41;
  width: 334px;
  opacity: 0.1;
}
.rectangleParent12 {
  left: 0;
  width: 334.03px;
}
.awsCertifiedSolutions3,
.loremIpsumDolor {
  position: absolute;
  left: 6.03px;
  display: inline-block;
}
.awsCertifiedSolutions3 {
  top: 301px;
  font-weight: 500;
  width: 324px;
  height: 77px;
}
.loremIpsumDolor {
  top: 399px;
  font-size: 18px;
  letter-spacing: 0.02em;
  line-height: 180%;
  color: #696984;
  width: 328px;
  height: 102px;
}
.groupParent9 {
  position: absolute;
  top: 20px;
  left: 20.97px;
  width: 334.03px;
  height: 501px;
}
.b,
.i,
.lina3 {
  position: absolute;
  letter-spacing: 0.02em;
}
.lina3 {
  top: 12.78px;
  left: 62.15px;
  font-weight: 500;
  display: inline-block;
  width: 51.05px;
  height: 18.68px;
}
.b,
.i {
  top: 22px;
  display: flex;
  align-items: center;
  height: 19px;
}
.i {
  left: 221.37px;
  text-decoration: line-through;
  font-weight: 300;
  color: rgba(0, 0, 0, 0.5);
  width: 42px;
}
.b {
  left: 277.37px;
  font-size: 24px;
  color: #49bbbd;
  width: 51px;
}
.groupChild23,
.image12Icon3 {
  position: absolute;
  top: 0;
  width: 44px;
}
.groupChild23 {
  left: 0;
  border-radius: 22.12px;
  background-color: #d9d9d9;
  height: 44.25px;
}
.image12Icon3 {
  left: 0.37px;
  border-radius: 22px;
  height: 44px;
  object-fit: cover;
}
.linaParent,
.rectangleParent13 {
  position: absolute;
  top: 0;
  left: 0;
  width: 44.37px;
  height: 44.25px;
}
.linaParent {
  top: 538px;
  left: 26.63px;
  width: 328.37px;
  font-size: 18px;
  color: #000;
}
.groupFrame {
  left: 0;
  width: 374px;
  height: 617px;
}
.design,
.groupFrame,
.groupWrapper {
  position: absolute;
  top: 0;
}
.groupWrapper {
  left: 0;
  width: 374px;
  height: 617px;
  font-size: 24px;
  color: #252641;
}
.design {
  left: 31px;
  letter-spacing: 0.02em;
  line-height: 180%;
  font-weight: 500;
  display: inline-block;
  width: 62px;
  height: 22px;
}
.groupChild24,
.groupChild25,
.groupChild26,
.groupChild27 {
  position: absolute;
  top: 0;
  left: 0;
  border-radius: 2px;
  background-color: transparent;
  border: 1px solid #d9d9d9;
  box-sizing: border-box;
  width: 10px;
  height: 10px;
}
.groupChild25,
.groupChild26,
.groupChild27 {
  top: 11px;
}
.groupChild26,
.groupChild27 {
  left: 11px;
}
.groupChild27 {
  top: 0;
}
.rectangleParent14 {
  position: absolute;
  top: 1px;
  left: 0;
  width: 21px;
  height: 21px;
}
.designParent {
  top: 279px;
  left: 27px;
  width: 93px;
  height: 22px;
}
.designParent,
.div2,
.month {
  position: absolute;
}
.month {
  top: 2px;
  left: 34px;
  letter-spacing: 0.02em;
  line-height: 180%;
  font-weight: 500;
  display: inline-block;
  width: 62px;
  height: 22px;
}
.div2 {
  top: 0;
  left: 0;
  font-size: 24px;
  font-family: "Font Awesome 5 Free";
  color: #d9d9d9;
}
.groupParent10,
.monthParent {
  position: absolute;
  top: 279px;
  left: 259px;
  width: 96px;
  height: 28px;
}
.groupParent10 {
  top: 0;
  left: 424px;
  width: 374px;
  height: 617px;
}
.awsCertifiedSolutions5,
.loremIpsumDolor2 {
  position: absolute;
  left: 0;
  display: inline-block;
}
.awsCertifiedSolutions5 {
  top: 0;
  font-weight: 500;
  width: 324px;
  height: 77px;
}
.loremIpsumDolor2 {
  top: 98px;
  font-size: 18px;
  letter-spacing: 0.02em;
  line-height: 180%;
  color: #696984;
  width: 328px;
  height: 102px;
}
.awsCertifiedSolutionsArchitParent {
  position: absolute;
  top: 321px;
  left: 27px;
  width: 328px;
  height: 200px;
}
.groupChild43,
.groupParent12 {
  position: absolute;
  top: 0;
  left: 848px;
  width: 374px;
  height: 617px;
}
.groupChild43 {
  left: 0;
  width: 334px;
  height: 238.66px;
  object-fit: cover;
}
.groupParent13,
.groupParent7 {
  position: absolute;
  top: 0;
  left: 1272px;
  width: 374px;
  height: 617px;
}
.groupParent7 {
  top: 95px;
  left: 0;
  width: 1646px;
  font-size: 14px;
  color: #696984;
}
.groupChild49,
.groupChild50 {
  position: absolute;
  top: 115px;
  left: 21px;
  border-radius: 20px;
  width: 335px;
  height: 239px;
  object-fit: cover;
}
.groupChild50 {
  left: 867px;
}
.groupParent6 {
  position: absolute;
  top: 97px;
  left: 139px;
  width: 1646px;
  height: 712px;
}
.rectangleParent10 {
  position: absolute;
  top: 2049px;
  left: 0;
  width: 1920px;
  height: 1022px;
  font-size: 30px;
  color: #000;
}
.groupParent15,
.groupParent24,
.groupParent33,
.vectorGroup {
  position: absolute;
  top: 3161px;
  left: 139px;
  width: 1646px;
  height: 712px;
  font-size: 30px;
  color: #000;
}
.groupParent24,
.groupParent33,
.vectorGroup {
  top: 4512px;
}
.groupParent33,
.vectorGroup {
  top: 5410px;
}
.vectorGroup {
  top: 2908px;
  left: 1665px;
  width: 120px;
  height: 50px;
  font-size: 24px;
  color: #fff;
  font-family: "Font Awesome 5 Free";
}
.courseChild {
  position: absolute;
  top: 3963px;
  left: 119px;
  border-radius: 37px;
  background-color: #252641;
  width: 1682px;
  height: 459px;
}
.loremIpsumDolor16,
.onlineCoachingLessons {
  position: absolute;
  color: #fff;
  display: inline-block;
}
.onlineCoachingLessons {
  top: 4033px;
  left: 547px;
  font-size: 36px;
  font-weight: 600;
  width: 827px;
}
.loremIpsumDolor16 {
  top: 4117px;
  left: 331px;
  font-size: 24px;
  letter-spacing: 0.02em;
  line-height: 180%;
  text-align: center;
  width: 1259px;
}
.groupChild146 {
  position: absolute;
  top: 0;
  left: 0;
  border-radius: 12px;
  background-color: #49bbbd;
  width: 236px;
  height: 63px;
}
.startLearningNow {
  position: absolute;
  top: 20px;
  left: 40px;
  display: inline-block;
  width: 156px;
  height: 31px;
}
.rectangleParent67 {
  position: absolute;
  top: 4276px;
  left: 843px;
  width: 236px;
  height: 63px;
  font-size: 16px;
  color: #fff;
}
.groupChild147 {
  position: absolute;
  top: 0;
  left: 0;
  border-radius: 20px;
  background-color: #fff;
  box-shadow: 0 18.829999923706055px 47.08px rgba(47, 50, 125, 0.1);
  width: 349px;
  height: 377px;
}
.groupChild148 {
  position: absolute;
  top: 30px;
  left: 129px;
  border-radius: 4px;
  width: 90px;
  height: 90px;
}
.design16,
.loremIpsumDolor17 {
  position: absolute;
  letter-spacing: 0.02em;
}
.design16 {
  top: 140px;
  left: 120px;
  font-weight: 600;
}
.loremIpsumDolor17 {
  top: 210px;
  left: 32px;
  font-size: 18px;
  color: #696984;
  text-align: center;
  display: inline-block;
  width: 285px;
}
.div20 {
  position: absolute;
  top: 57px;
  left: 159px;
  font-family: "Font Awesome 5 Free";
  color: #49bbbd;
}
.rectangleParent68 {
  position: absolute;
  top: 0;
  left: 0;
  width: 349px;
  height: 377px;
}
.development {
  position: absolute;
  top: 140px;
  left: 69px;
  letter-spacing: 0.02em;
  font-weight: 600;
}
.div21 {
  position: absolute;
  top: 57px;
  left: 159px;
  font-family: "Font Awesome 5 Free";
  color: #5b72ee;
}
.rectangleParent69 {
  position: absolute;
  top: 0;
  left: 429px;
  width: 349px;
  height: 377px;
}
.div22 {
  position: absolute;
  top: 57px;
  left: 159px;
  font-family: "Font Awesome 5 Free";
  color: #9dccff;
}
.rectangleParent70 {
  position: absolute;
  top: 0;
  left: 858px;
  width: 349px;
  height: 377px;
}
.business {
  position: absolute;
  top: 140px;
  left: 103px;
  letter-spacing: 0.02em;
  font-weight: 600;
}
.div23 {
  position: absolute;
  top: 57px;
  left: 159px;
  font-family: "Font Awesome 5 Free";
  color: #00cbb8;
}
.rectangleParent71 {
  position: absolute;
  top: 0;
  left: 1287px;
  width: 349px;
  height: 377px;
}
.marketing {
  position: absolute;
  top: 140px;
  left: 94px;
  letter-spacing: 0.02em;
  font-weight: 600;
}
.div24 {
  position: absolute;
  top: 57px;
  left: 159px;
  font-family: "Font Awesome 6 Brands";
  color: #f48c06;
}
.rectangleParent72 {
  position: absolute;
  top: 457px;
  left: 0;
  width: 349px;
  height: 377px;
}
.photography {
  position: absolute;
  top: 140px;
  left: 72px;
  letter-spacing: 0.02em;
  font-weight: 600;
}
.div25 {
  position: absolute;
  top: 57px;
  left: 159px;
  font-family: "Font Awesome 5 Free";
  color: #ee645b;
}
.rectangleParent73 {
  position: absolute;
  top: 457px;
  left: 429px;
  width: 349px;
  height: 377px;
}
.acting,
.div26 {
  position: absolute;
}
.acting {
  top: 140px;
  left: 123px;
  letter-spacing: 0.02em;
  font-weight: 600;
}
.div26 {
  top: 57px;
  left: 159px;
  font-family: "Font Awesome 5 Free";
  color: #252641;
}
.groupParent42,
.rectangleParent74,
.rectangleParent75 {
  position: absolute;
  top: 457px;
  left: 858px;
  width: 349px;
  height: 377px;
}
.groupParent42,
.rectangleParent75 {
  left: 1287px;
}
.groupParent42 {
  top: 1115px;
  left: 119px;
  width: 1636px;
  height: 834px;
  font-size: 30px;
  color: #000;
}
.image16Icon {
  position: absolute;
  top: 8px;
  left: 113px;
  width: 198px;
  height: 105px;
  object-fit: cover;
}
.course,
.homePage {
  background-color: #fff;
  overflow: hidden;
}
.course {
  position: absolute;
  top: 117px;
  left: 0;
  width: 2020px;
  height: 6853px;
}
.homePage {
  position: relative;
  width: 100%;
  height: 6957px;
  text-align: left;
  font-size: 22px;
  color: #5b5b5b;
  font-family: Poppins;
}
