/* /* .custom-form {
    max-width: 400px;
    margin: 0 auto;
  }
  
  .form-group {
    margin-bottom: 15px;
  }
  
  .form-label {
    display: block;
    margin-bottom: 5px;
    font-weight: bold;
  }
  
  .form-input {
    width: 100%;
    padding: 8px;
    border: 1px solid #ccc;
    border-radius: 4px;
  }
  
  .submit-button {
    background-color: #4caf50;
    color: white;
    padding: 10px 15px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
  }
  
  .submit-button:hover {
    background-color: #45a049;
  } */

  /* .inputdiv {
    position: relative;
    width: 2cm;
    height: 2cm;
    border-radius: 10cm;
    border: 2px solid #049f75 ;
    display: flex;
    justify-content: center;
    align-items: center;
    overflow: hidden;
    box-shadow: 0px 0px 100px #049f75 , inset 0px 0px 10px #049f75,0px 0px 5px rgb(255, 255, 255);
    animation: flicker 2s linear infinite;
  }
  
  .icon {
    color:#049f75 ;
    font-size: 2rem;
    cursor: pointer;
    animation: iconflicker 2s linear infinite;
  }
  
  .input {
    position: absolute;
    opacity: 0;
    width: 100%;
    height: 100%;
    cursor: pointer !important;
  }
  
  @keyframes flicker {
    0% {
      border: 2px solid #049f75 ;
      box-shadow: 0px 0px 100px #049f75  , inset 0px 0px 10px #049f75 ,0px 0px 5px rgb(255, 255, 255);
    }
  
    5% {
      border: none;
      box-shadow: none;
    }
  
    10% {
      border: 2px solid #049f75 ;
      box-shadow: 0px 0px 100px #049f75  , inset 0px 0px 10px #049f75 ,0px 0px 5px rgb(255, 255, 255);
    }
  
    25% {
      border: none;
      box-shadow: none;
    }
  
    30% {
      border: 2px solid #049f75 ;
      box-shadow: 0px 0px 100px #049f75  , inset 0px 0px 10px #049f75 ,0px 0px 5px rgb(255, 255, 255);
    }
  
    100% {
      border: 2px solid rgb(1, 252, 30);
      box-shadow: 0px 0px 100px rgb(1, 252, 30) , inset 0px 0px 10px rgb(1, 252, 30),0px 0px 5px rgb(255, 255, 255);
    }
  }
  
  @keyframes iconflicker {
    0% {
      opacity: 1;
    }
  
    5% {
      opacity: 0.2;
    }
  
    10% {
      opacity: 1;
    }
  
    25% {
      opacity: 0.2;
    }
  
    30% {
      opacity: 1;
    }
  
    100% {
      opacity: 1;
    }
  }  */

