@tailwind components;
@tailwind utilities;
@import url("https://fonts.googleapis.com/css2?family=Quicksand:wght@500&display=swap");

@import url("https://fonts.googleapis.com/css2?family=Be+Vietnam+Pro:wght@400;500;600;700&display=swap");
@tailwind base;
@tailwind components;
@tailwind utilities;
body {
  @apply leading-[normal] m-0;
}
*,
::before,
::after {
  border-width: 0;
}

@import url("https://fonts.googleapis.com/css2?family=Inter:wght@400;500;600;800&display=swap");
@tailwind base;
@tailwind components;
@tailwind utilities;
body {
  @apply leading-[normal] m-0;
}
*,
::before,
::after {
  border-width: 0;
}

@import url("https://fonts.googleapis.com/css2?family=Montserrat&display=swap");



.checkbox-button {
  appearance: none;
  border: 1px solid #ccc;
  padding: 8px;
  border-radius: 4px;
  cursor: pointer;
  display: inline-flex;
  align-items: center;
  background-color: #fff;
}

.checkbox-button::before {
  content: "\2713"; /* Unicode character for checkmark */
  display: inline-block;
  margin-right: 8px;
  font-size: 18px;
  color: #007bff; /* Change color as needed */
  visibility: hidden;
}

.checkbox-button.checked::before {
  visibility: visible;
}
.fullscreen-video {
  width: 320px; /* Set the initial width of the video container */
  height: 240px; /* Set the initial height of the video container */
  transition: transform 0.3s ease-in-out;
}

.fullscreen-video.fullscreen {
  width: 100%; /* Set the width to 100% of the viewport width when fullscreen */
  height: 100%; /* Set the height to 100% of the viewport height when fullscreen */
  position: fixed;
  top: 0;
  left: 0;
  z-index: 1000;
}

/* .video-item {
  transition: transform 0.3s ease-in-out;
} */

.video-item.clicked {
  transform: scale(3); /* Increase size for the clicked video */
}
.button {
  display: inline-block;
  padding: 12px 20px;
  border: 0px solid #4f4f4f;
  border-radius: 8px;
  transition: all 0.8s ease-in;
  position: relative;
  overflow: hidden;
  font-size: 15px;
  cursor: pointer;
  color: rgb(255, 255, 255);
  z-index: 1;
}

.button:before {
  content: "";
  position: absolute;
  left: 50%;
  transform: translateX(-50%) scaleY(1) scaleX(1.25);
  top: 100%;
  width: 140%;
  height: 180%;
  background-color: rgba(0, 0, 0, 0.05);
  border-radius: 50%;
  display: block;
  transition: all 0.7s 0.1s cubic-bezier(0.55, 0, 0.1, 1);
  z-index: -1;
}

.button:after {
  content: "";
  position: absolute;
  left: 55%;
  transform: translateX(-50%) scaleY(1) scaleX(1.45);
  top: 180%;
  width: 160%;
  height: 190%;
  background-color: #049f75;
  border-radius: 50%;
  display: block;
  transition: all 0.5s 0.1s cubic-bezier(0.55, 0, 0.1, 1);
  z-index: -1;
}

.button:hover {
  color: #ffffff;
  border: px solid #049f75;
}

.button:hover:before {
  top: -35%;
  background-color: #05c390;
  transform: translateX(-50%) scaleY(1.3) scaleX(0.8);
}

.button:hover:after {
  top: -45%;
  background-color: #05c390;
  transform: translateX(-50%) scaleY(1.3) scaleX(0.8);
}
.button1 {
  display: inline-block;
  padding: 12px 20px;
  border: 0px solid #4f4f4f;
  border-radius: 8px;
  transition: all 0.8s ease-in;
  position: relative;
  overflow: hidden;
  font-size: 15px;
  cursor: pointer;
  color: black;
  z-index: 1;
  margin-left: 590px;
  margin-top: -0px;
}

.button1:before {
  content: "";
  position: absolute;
  left: 50%;
  transform: translateX(-50%) scaleY(1) scaleX(1.25);
  top: 100%;
  width: 140%;
  height: 180%;
  background-color: rgba(0, 0, 0, 0.05);
  border-radius: 50%;
  display: block;
  transition: all 0.7s 0.1s cubic-bezier(0.55, 0, 0.1, 1);
  z-index: -1;
}

.button1:after {
  content: "";
  position: absolute;
  left: 55%;
  transform: translateX(-50%) scaleY(1) scaleX(1.45);
  top: 180%;
  width: 160%;
  height: 190%;
  background-color: #049f75;
  border-radius: 50%;
  display: block;
  transition: all 0.5s 0.1s cubic-bezier(0.55, 0, 0.1, 1);
  z-index: -1;
}

.button1:hover {
  color: #ffffff;
  border: px solid #049f75;
}

.button1:hover:before {
  top: -35%;
  background-color: #05c390;
  transform: translateX(-50%) scaleY(1.3) scaleX(0.8);
}

.button1:hover:after {
  top: -45%;
  background-color: #05c390;
  transform: translateX(-50%) scaleY(1.3) scaleX(0.8);
}
.container1 {
  background-color: #555;
  color: #ddd;
  border-radius: 10px;
  padding: 70px;
  font-family: "Montserrat", sans-serif;
  max-width: 700px;
  margin-left: 540px;
  margin-top: 20px;
}
.container > p {
  font-size: 32px;
}
.question {
  width: 75%;
}
.options {
  position: relative;
  padding-left: 40px;
}
#options label {
  display: block;
  margin-bottom: 15px;
  font-size: 14px;
  cursor: pointer;
}
.options input {
  opacity: 0;
}
.checkmark {
  position: absolute;
  top: -1px;
  left: 0;
  height: 25px;
  width: 25px;
  background-color: #555;
  border: 1px solid #ddd;
  border-radius: 50%;
}
.options input:checked ~ .checkmark:after {
  display: block;
}
.options .checkmark:after {
  content: "";
  width: 10px;
  height: 10px;
  display: block;
  background: white;
  position: absolute;
  top: 50%;
  left: 50%;
  border-radius: 50%;
  transform: translate(-50%, -50%) scale(0);
  transition: 300ms ease-in-out 0s;
}
.options input[type="radio"]:checked ~ .checkmark {
  background: #21bf73;
  transition: 300ms ease-in-out 0s;
}
.options input[type="radio"]:checked ~ .checkmark:after {
  transform: translate(-50%, -50%) scale(1);
}
.btn-primary {
  background-color: #555;
  color: #ddd;
  border: 1px solid #ddd;
}
.btn-primary:hover {
  background-color: #21bf73;
  border: 1px solid #21bf73;
}
.btn-success {
  padding: 5px 25px;
  background-color: #21bf73;
}
@media (max-width: 576px) {
  .question {
    width: 100%;
    word-spacing: 2px;
  }
}
.cta {
  position: relative;
  margin-top: 2cm;
  /* margin: auto; */
  padding: 12px 28px;
  transition: all 0.2s ease;
  border: none;
  background: none;
  cursor: pointer;
}

.cta:before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  display: block;
  border-radius: 50px;
  background: #dde0de;
  width: 120px;
  height: 45px;
  transition: all 0.3s ease;
}

.cta span {
  position: relative;
  font-family: "Ubuntu", sans-serif;
  font-size: 18px;
  font-weight: 700;
  letter-spacing: 0.05em;
  color: #0f1310;
}

/* .cta:hover:before {
  width: 100%;
  background: #44815d;
} */

/* .cta:hover svg {
  transform: translateX(0);
}

.cta:active {
  transform: scale(0.95);
} */

.container-xl {
  max-width: 800px;
  margin: auto;
}

.card {
  box-shadow: 0 0.25rem 2rem rgba(0, 0, 0, 0.1);
  margin-bottom: 20px;
}

.card-header {
  padding: 1.5rem 1.75rem;
  margin-bottom: 0;
  background-color: #6c757d;
  color: #fff;
  border-radius: 0.35rem 0.35rem 0 0;
}

.profile-box {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 20px;
  background-color: #fff;
  border: 1px solid #dee2e6;
  border-radius: 0.35rem;
  margin-bottom: 20px;
}

.profile-picture {
  flex: 0 0 30%;
  text-align: center;
}

.profile-picture img {
  width: 100%;
  border-radius: 50%;
}

.upload-box {
  flex: 0 0 60%;
  padding-left: 20px;
}

.upload-box .small {
  color: #6c757d;
}

.upload-box button {
  width: 100%;
  padding: 0.75rem 1.25rem;
  font-size: 1rem;
  font-weight: 500;
  line-height: 1.5;
  color: #fff;
  background-color: #007bff;
  border: 1px solid #007bff;
  border-radius: 0.35rem;
  transition: background-color 0.15s ease-in-out, border-color 0.15s ease-in-out;
}

.upload-box button:hover {
  background-color: #0056b3;
  border-color: #0056b3;
}

.form-control,
.dataTable-input {
  display: block;
  width: calc(100% - 2.25rem);
  padding: 1rem 1.25rem;
  margin-bottom: 15px;
  font-size: 1rem;
  font-weight: 500;
  line-height: 1.5;
  color: #495057;
  background-color: #f8f9fa;
  background-clip: padding-box;
  border: 1px solid #ced4da;
  border-radius: 0.35rem;
  transition: border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;
}

.btn-primary {
  width: 100%;
  padding: 0.75rem 1.25rem;
  font-size: 1rem;
  font-weight: 500;
  line-height: 1.5;
  color: #fff;
  background-color: #28a745;
  border: 1px solid #28a745;
  border-radius: 0.35rem;
  transition: background-color 0.15s ease-in-out, border-color 0.15s ease-in-out;
}

.btn-primary:hover {
  background-color: #218838;
  border-color: #218838;
}

.file-input-label {
  cursor: pointer;
  display: inline-flex;
  align-items: center;
}

.file-input-label svg {
  margin-right: 5px; /* Add spacing between the SVG and text if needed */
}

/* .custom-form-container {
  border-radius: 10px;
  border: 5px solid #049f75 ; 
  padding: 1cm; 
  max-width: 430px;
  height: 10cm;
  margin-top: 5cm;
  margin-left: 40%;
  background-color:transparent;
}  */
/* .custom-form {
  max-width: 400px;
  margin: 0 auto;
} */

/* .form-group {
  margin-bottom: 15px;
} */

/* .form-label {
  display: block;
  margin-bottom: 5px;
  font-weight: bold;
} */

/* .form-input {
  width: 100%;
  padding: 8px;
  border: 1px solid #ccc;
  border-radius: 4px;
} */

/* .submit-button {
  margin-left: 7cm;
  margin-top: 0.5cm;
  width: 3.5cm;
  background-color: #049f75 ;
  color: white;
  padding: 10px 15px;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}

.submit-button:hover {
  background-color: #049f75 ;
} */

@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500&display=swap");
body {
  margin: 0;
  line-height: normal;
}
@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;700&display=swap");

body {
  margin: 0;
  line-height: normal;
}

@import url("https://fonts.googleapis.com/css2?family=Inter:wght@400;500;600;700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@400;500&display=swap");
body {
  margin: 0;
  line-height: normal;
}
@import url("https://fonts.googleapis.com/css2?family=Inter:wght@400;500;600;700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@400;500&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Pangea+Afrikan+Trial:wght@500&display=swap");
body {
  margin: 0;
  line-height: normal;
}

@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,400;0,500;0,600;0,700;1,300&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Font+Awesome+5+Free:wght@400&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Font+Awesome+6+Brands:wght@400&display=swap");
body {
  margin: 0;
  line-height: normal;
}

@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600;700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Font+Awesome+5+Free:wght@400&display=swap");

@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600;700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Font+Awesome+5+Free:wght@400&display=swap");
body {
  margin: 0;
  line-height: normal;
}
:root {
  /* fonts */
  --font-poppins: Poppins;
  --font-font-awesome-5-free: "Font Awesome 5 Free";

  /* font sizes */
  --font-size-xl: 20px;
  --font-size-lg: 18px;
  --font-size-5xl: 24px;
  --font-size-7xl: 26px;
  --font-size-3xl: 22px;

  /* Colors */
  --color-white: #fff;
  --color-dimgray: #5b5b5b;
  --color-black: #000;
  --color-gainsboro-100: #d9d9d9;
  --color-gainsboro-200: rgba(217, 217, 217, 0);
  --color-lightseagreen: #49bbbd;
  --color-darkgray: #9d9b9b;
  --color-gray: #252641;
  --color-lightslategray: #83839a;
  --color-lightsteelblue: #b2b3cf;
  --color-slategray: #626381;

  /* Border radiuses */
  --br-xl: 20px;
  --br-mid-5: 17.5px;
  --br-mini: 15px;
  --br-3xs: 10px;
  --br-41xl: 60px;
}
:root {
  /* fonts */
  --font-poppins: Poppins;
  --font-font-awesome-5-free: "Font Awesome 5 Free";

  /* font sizes */
  --font-size-xl: 20px;
  --font-size-lg: 18px;
  --font-size-5xl: 24px;
  --font-size-7xl: 26px;
  --font-size-3xl: 22px;

  /* Colors */
  --color-white: #fff;
  --color-dimgray: #5b5b5b;
  --color-black: #000;
  --color-gainsboro-100: #d9d9d9;
  --color-gainsboro-200: rgba(217, 217, 217, 0);
  --color-lightseagreen: #49bbbd;
  --color-darkgray: #9d9b9b;
  --color-gray: #252641;
  --color-lightslategray: #83839a;
  --color-lightsteelblue: #b2b3cf;
  --color-slategray: #626381;

  /* Border radiuses */
  --br-xl: 20px;
  --br-mid-5: 17.5px;
  --br-mini: 15px;
  --br-3xs: 10px;
  --br-41xl: 60px;
}


.groupChild {
  top: 0;
  left: 0;
  border-radius: var(--br-41xl);
  background-color: var(--color-gainsboro-100);
}
.groupChild,
.image12Icon,
.rectangleParent {
  position: absolute;
  width: 63px;
  height: 63px;
}
.image12Icon {
  top: 0;
  left: 0;
  border-radius: var(--br-41xl);
  object-fit: cover;
}
.rectangleParent {
  top: 41px;
  left: 1660px;
}
.div {
  position: absolute;
  top: 64px;
  left: 1788px;
  letter-spacing: 0.02em;
  font-family: var(--font-font-awesome-5-free);
  color: var(--color-black);
}
/* .footerChild {
  position: absolute;
  top: 0;
  left: 0;
  background-color: var(--color-gray);
  width: 1920px;
  height: 593px;
} */
.classTechnologiesInc,
.subscribeToGet {
  position: absolute;
  top: 520px;
  left: 781px;
  letter-spacing: 0.04em;
}
.subscribeToGet {
  top: 252px;
  left: 740px;
  font-size: var(--font-size-7xl);
  font-weight: 500;
}
.groupItem {
  position: absolute;
  top: 0;
  left: 0;
  border-radius: 6px;
  width: 83px;
  height: 83px;
  object-fit: cover;
}

.groupInner,
.polygonParent {
  position: absolute;
  top: 0;
  left: 0;
  width: 114px;
  height: 83px;
}
.groupInner {
  top: -0.5px;
  left: 190.5px;
  border-right: 1px solid var(--color-slategray);
  box-sizing: border-box;
  width: 1px;
  height: 84px;
}
.virtualClassFor {
  position: absolute;
  top: 9px;
  left: 232px;
  font-size: var(--font-size-3xl);
  letter-spacing: 0.04em;
  font-weight: 600;
  display: inline-block;
  width: 156px;
}
.groupParent {
  position: absolute;
  left: 766px;
  width: 388px;
  height: 83px;
  text-align: left;
  font-size: 32px;
  color: var(--color-white);
}
.groupChild1,
.lineDiv {
  position: absolute;
  top: 7.5px;
  left: 112.5px;
  border-right: 1px solid var(--color-slategray);
  box-sizing: border-box;
  width: 1px;
  height: 18px;
}
.groupChild1 {
  left: 313.5px;
}
.careers1,
.privacyPolicy,
.termsConditions {
  position: absolute;
  top: 0;
  left: 0;
  letter-spacing: 0.04em;
}
.privacyPolicy,
.termsConditions {
  left: 133px;
}
.termsConditions {
  left: 334px;
}
.lineParent,
.rectangleDiv {
  position: absolute;
  top: 467px;
  left: 678px;
  width: 564px;
  height: 33px;
}
.rectangleDiv {
  top: 0;
  left: 0;
  border-radius: 80px;
  border: 1px solid var(--color-lightslategray);
  box-sizing: border-box;
  width: 400px;
  height: 60px;
}
.yourEmail {
  position: absolute;
  top: 15px;
  left: 30px;
  letter-spacing: 0.04em;
}
.groupChild2,
.groupChild3 {
  position: absolute;
  border-radius: var(--br-41xl);
}
.groupChild2 {
  top: 30px;
  left: 12px;
  background-color: #545ae8;
  filter: blur(54px);
  width: 151px;
  height: 29px;
  opacity: 0.5;
}
.groupChild3 {
  top: 0;
  left: 0;
  background-color: var(--color-lightseagreen);
  width: 179px;
  height: 60px;
}
.subscribe {
  position: absolute;
  top: 14px;
  left: 34px;
  font-weight: 500;
}
.rectangleContainer {
  position: absolute;
  top: 0;
  left: 420px;
  width: 179px;
  height: 60px;
  text-align: left;
  font-size: var(--font-size-3xl);
  color: var(--color-white);
}
.footer,
.rectangleGroup {
  position: absolute;
  top: 311px;
  left: 661px;
  width: 599px;
  height: 60px;
  font-size: var(--font-size-xl);
  color: var(--color-lightslategray);
}
.footer {
  top: 1230px;
  left: 29px;
  width: 1920px;
  height: 593px;
  text-align: center;
  font-size: var(--font-size-3xl);
  color: var(--color-lightsteelblue);
}
.checkoutPageChild,
.rectangle {
  position: absolute;
  border-radius: var(--br-xl);
}
.rectangle {
  top: 255px;
  left: 1137px;
  background-color: #9dccff;
  width: 662px;
  height: 636px;
  opacity: 0.2;
  mix-blend-mode: normal;
}
.checkoutPageChild {
  top: 204px;
  left: 120px;
  background-color: var(--color-white);
  box-shadow: 0 18.829999923706055px 47.08px rgba(47, 50, 125, 0.1);
  width: 962px;
  height: 909px;
}
.checkout {
  top: 254px;
  left: 170px;
  font-size: 36px;
  font-weight: 600;
  color: var(--color-gray);
  width: 199px;
}
.cartType,
.checkout,
.nameOnCard,
.summary {
  position: absolute;
  display: inline-block;
}
.summary {
  top: 234px;
  left: 1164px;
  font-size: var(--font-size-5xl);
  color: var(--color-gray);
  width: 124px;
}
.cartType,
.nameOnCard {
  top: 317px;
  left: 170px;
  font-weight: 600;
  width: 94px;
}
.nameOnCard {
  top: 559px;
  width: 134px;
}
.checkoutPageItem {
  position: absolute;
  top: 596px;
  left: 170px;
  border-radius: var(--br-3xs);
  background-color: var(--color-gainsboro-200);
  border: 1px solid var(--color-gainsboro-100);
  box-sizing: border-box;
  width: 842px;
  height: 60px;
}
.cardNumber {
  position: absolute;
  top: 686px;
  left: 170px;
  font-weight: 600;
  display: inline-block;
  width: 134px;
}
.checkoutPageInner {
  position: absolute;
  top: 723px;
  left: 170px;
  border-radius: var(--br-3xs);
  background-color: var(--color-gainsboro-200);
  border: 1px solid var(--color-gainsboro-100);
  box-sizing: border-box;
  width: 842px;
  height: 60px;
}
.expirationDate {
  position: absolute;
  top: 813px;
  left: 170px;
  font-weight: 600;
  display: inline-block;
  width: 239px;
}
.enterCardNumber,
.enterNameOn,
.saveMyInformation {
  position: absolute;
  top: 920px;
  left: 191px;
  color: var(--color-darkgray);
  display: inline-block;
  width: 372px;
}
.enterCardNumber,
.enterNameOn {
  top: 612px;
  width: 187px;
}
.enterCardNumber {
  top: 739px;
  width: 174px;
}
.enterExpirationDate {
  top: 867px;
  left: 191px;
  color: var(--color-darkgray);
  width: 187px;
}
.cvc,
.enterCvc,
.enterExpirationDate {
  position: absolute;
  display: inline-block;
}
.enterCvc {
  top: 867px;
  left: 633px;
  color: var(--color-darkgray);
  width: 100px;
}
.cvc {
  top: 813px;
  left: 609px;
  font-weight: 600;
  width: 48px;
}
.checkoutPageChild1 {
  top: 850px;
  left: 170px;
  border-radius: var(--br-3xs);
  width: 403px;
  height: 60px;
}
.checkoutPageChild1,
.checkoutPageChild2,
.checkoutPageChild3 {
  position: absolute;
  background-color: var(--color-gainsboro-200);
  border: 1px solid var(--color-gainsboro-100);
  box-sizing: border-box;
}
.checkoutPageChild2 {
  top: 927px;
  left: 170px;
  border-radius: 4px;
  width: 14px;
  height: 14px;
}
.checkoutPageChild3 {
  top: 850px;
  left: 609px;
  border-radius: var(--br-3xs);
  width: 403px;
  height: 60px;
}
.groupChild4 {
  position: absolute;
  top: 0;
  left: 0;
  border-radius: 12px;
  background-color: var(--color-lightseagreen);
  width: 842px;
  height: 63px;
}
.confirmPayment {
  position: absolute;
  top: 14px;
  left: 298px;
  display: inline-block;
  width: 247px;
  height: 30px;
}
.groupDiv {
  position: absolute;
  top: 997px;
  left: 170px;
  width: 842px;
  height: 63px;
  font-size: var(--font-size-7xl);
  color: var(--color-white);
}
.groupChild5 {
  position: absolute;
  top: 0;
  left: 0;
  border-radius: var(--br-3xs);
  background-color: var(--color-white);
  border: 0.5px solid var(--color-lightseagreen);
  box-sizing: border-box;
  width: 139px;
  height: 92.4px;
}
.paypalIcon {
  position: absolute;
  top: 3.95px;
  left: 26.85px;
  width: 84.51px;
  height: 84.51px;
  object-fit: cover;
}
.amAmex061Icon,
.rectangleParent1 {
  position: absolute;
  top: 382px;
  left: 165px;
  width: 139px;
  height: 92.4px;
}
.amAmex061Icon {
  left: 324px;
  border-radius: var(--br-3xs);
  width: 160px;
  height: 92px;
  object-fit: cover;
}
.checkoutPageChild4,
.download1Icon {
  position: absolute;
  top: 382px;
  border-radius: var(--br-mini);
  height: 92px;
}
.download1Icon {
  left: 504px;
  width: 167px;
  object-fit: cover;
}
.checkoutPageChild4 {
  left: 691px;
  background-color: var(--color-gainsboro-200);
  border: 1px solid var(--color-gainsboro-100);
  box-sizing: border-box;
  width: 170px;
}
.checkoutPageChild5,
.checkoutPageChild6 {
  position: absolute;
  top: 409px;
  left: 747px;
  border-radius: var(--br-mid-5);
  background-color: rgba(255, 0, 0, 0.8);
  width: 35px;
  height: 35px;
}
.checkoutPageChild6 {
  left: 769px;
  background-color: rgba(255, 255, 0, 0.8);
}
.confidentTeacherExplainingLIcon {
  position: absolute;
  top: 320px;
  left: 1164px;
  border-radius: var(--br-xl);
  width: 160px;
  height: 107px;
  object-fit: cover;
}
.playButtonIcon {
  position: absolute;
  top: 365.65px;
  left: 1236.23px;
  width: 15.9px;
  height: 15.9px;
  object-fit: cover;
}
.adipisingElitSed,
.div1 {
  position: absolute;
  top: 320px;
  left: 1346px;
  letter-spacing: 0.02em;
  line-height: 180%;
  color: var(--color-black);
}
.div1 {
  top: 386px;
  font-size: var(--font-size-5xl);
}
.subtotal {
  top: 557px;
  left: 1170px;
  font-size: var(--font-size-xl);
  font-weight: 600;
}

.div2,
.loremIpsumDollar,
.subtotal {
  position: absolute;
  letter-spacing: 0.02em;
  line-height: 180%;
}
.div2 {
  top: 491px;
  left: 1688px;
  font-size: var(--font-size-xl);
  font-weight: 600;
}
.loremIpsumDollar {
  top: 354px;
  left: 1346px;
}
.checkoutPageChild7,
.checkoutPageChild8 {
  position: absolute;
  top: 471.75px;
  left: 1163.75px;
  border-top: 0.5px solid var(--color-dimgray);
  box-sizing: border-box;
  width: 596.5px;
  height: 0.5px;
}
.checkoutPageChild8 {
  top: 539.75px;
}
.couponDiscount,
.div3 {
  position: absolute;
  top: 484px;
  left: 1170px;
  font-size: var(--font-size-xl);
  letter-spacing: 0.02em;
  line-height: 180%;
  font-weight: 600;
}
.div3 {
  top: 552px;
  left: 1718px;
}
.checkoutPageChild9 {
  position: absolute;
  top: 595.75px;
  left: 1169.75px;
  border-top: 0.5px solid var(--color-dimgray);
  box-sizing: border-box;
  width: 596.5px;
  height: 0.5px;
}
.div4,
.div5,
.tax,
.total {
  position: absolute;
  top: 607px;
  left: 1182px;
  font-size: var(--font-size-xl);
  letter-spacing: 0.02em;
  line-height: 180%;
  font-weight: 600;
}
.div4,
.div5,
.total {
  top: 596px;
  left: 1729px;
}
.div5,
.total {
  top: 660px;
  left: 1182px;
  color: var(--color-black);
}
.div5 {
  top: 653px;
  left: 1695px;
}
.checkoutPageChild10 {
  position: absolute;
  top: 642.75px;
  left: 1169.75px;
  border-top: 0.5px solid var(--color-dimgray);
  box-sizing: border-box;
  width: 596.5px;
  height: 0.5px;
}
.image15Icon {
  position: absolute;
  top: 16px;
  left: 113px;
  width: 291px;
  height: 124px;
  object-fit: cover;
}
.checkoutPage {
  position: relative;
  background-color: var(--color-white);
  width: 100%;
  height: 100px;
  overflow: hidden;
  text-align: left;
  font-size: var(--font-size-lg);
  color: var(--color-dimgray);
  font-family: var(--font-poppins);
}
.Navbar {
  position: relative;
  background-color: var(--color-white);
  width: 100%;
  height: 180px;
  overflow: hidden;
  text-align: center; /* Center the text horizontally */
  font-family: 'New Font', sans-serif;
}
.ab {
  left: 100px;
}
.Navbar::after {
  content: "";
  display: block;
  height: 2px;
  width: 2900px; /* Adjust the width as needed, in this case, it's set to 50% of the container width */
  background-color: var(--color-dimgray); /* You can adjust the line color */
  margin-top: 140px; /* Adjust the margin as needed */

}
.careers,
.home {
  position: absolute;
  letter-spacing: 0.02em;
  top: 70px;
}
.home {
  top: 70px;
  left: 700px;
  font-size: var(--font-size-3xl);
}
.search {
  position: absolute;
  letter-spacing: 0.02em;
  top: 70px;
}
.search {
  top: 70px;
  left: 1450px;
  font-size: var(--font-size-3xl);
}
.careers {
  left: 900px;
  top: 70px;
}
.careers,
.courses {
  top: 70px;
  font-size: var(--font-size-3xl);
}
.courses {
  position: absolute;
  left: 1100px;
  letter-spacing: 0.02em;
  top: 70px;
}

.aboutUs,
.lina {
  position: absolute;
  letter-spacing: 0.02em;
  /* top:40px; */
}
.aboutUs {
  top: 72px;
  left: 1254px;
  font-family: 'New Font', sans-serif;
  font-size: 20px;
}
.lina {
  top: 70px;
  left: 1700px;
  font-weight: 500;
  font-size: 20px;
  color: var(--color-black);
}
@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600;700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Font+Awesome+5+Free:wght@400&display=swap");
body {
  margin: 0;
  line-height: normal;
}
:root {
  /* fonts */
  --font-poppins: Poppins;
  --font-font-awesome-5-free: "Font Awesome 5 Free";

  /* font sizes */
  --font-size-xl: 20px;
  --font-size-lg: 18px;
  --font-size-5xl: 24px;
  --font-size-7xl: 26px;
  --font-size-3xl: 22px;

  /* Colors */
  --color-white: #fff;
  --color-black: #000;
  --color-dimgray: #5b5b5b;
  --color-gray-100: #252641;
  --color-lightseagreen: #49bbbd;
  --color-gainsboro-100: #d9d9d9;
  --color-lightslategray: #83839a;
  --color-lightsteelblue: #b2b3cf;
  --color-slategray: #626381;

  /* Border radiuses */
  --br-xl: 20px;
  --br-41xl: 60px;
}

.button {
  display: inline-block;
  padding: 12px 20px;
  border: 0px solid #4f4f4f;
  border-radius: 8px;
  transition: all 0.8s ease-in;
  position: relative;
  overflow: hidden;
  font-size: 15px;
  cursor: pointer;
  color: black;
  z-index: 1;
}

.button:before {
  content: "";
  position: absolute;
  left: 50%;
  transform: translateX(-50%) scaleY(1) scaleX(1.25);
  top: 100%;
  width: 140%;
  height: 180%;
  background-color: rgba(0, 0, 0, 0.05);
  border-radius: 50%;
  display: block;
  transition: all 0.7s 0.1s cubic-bezier(0.55, 0, 0.1, 1);
  z-index: -1;
}

.button:after {
  content: "";
  position: absolute;
  left: 55%;
  transform: translateX(-50%) scaleY(1) scaleX(1.45);
  top: 180%;
  width: 160%;
  height: 190%;
  background-color: #049f75;
  border-radius: 50%;
  display: block;
  transition: all 0.5s 0.1s cubic-bezier(0.55, 0, 0.1, 1);
  z-index: -1;
}

.button:hover {
  color: #ffffff;
  border: px solid #049f75;
}

.button:hover:before {
  top: -35%;
  background-color: #05c390;
  transform: translateX(-50%) scaleY(1.3) scaleX(0.8);
}

.button:hover:after {
  top: -45%;
  background-color: #05c390;
  transform: translateX(-50%) scaleY(1.3) scaleX(0.8);
}

.founders{
  margin-left: 300px;
}
.explore{
  margin-left: 300px;
}
.explore2{
  margin-left: 300px;
}
.ourpacks{
  margin-left: 300px;
}
.coni{
  margin-left: 300px;
}
.notification {
  display: flex;
  flex-direction: column;
  isolation: isolate;
  position: relative;
  width: 100rem;
  height: 61rem;
  background: #c2c2c4;
  border-radius: 2rem;
  overflow: hidden;
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
  font-size: 16px;
  --gradient: linear-gradient(to bottom, #01563f, #049f75, #02bd8b,#03efb0);
  --color: #32a6ff
}

.notification:before {
  position: absolute;
  content: "";
  inset: 0.0625rem;
  border-radius: 0.9375rem;
  background: #262626;
  z-index: 4
}

.notification:after {
  position: absolute;
  content: "";
  width: 0.25rem;
  inset: 0.65rem auto 0.65rem 0.5rem;
  border-radius: 0.125rem;
  background: var(--gradient);
  transition: transform 300ms ease;
  z-index: 4;
}

.notification:hover:after {
  transform: translateX(1.15rem)
}

.notititle {
  color:#049f75 ;
  padding: 0.65rem 0.25rem 3.4rem 1.25rem;
  font-weight: 500;
  font-size: 80px;
  margin-left: 500px;
  transition: transform 900ms ease;
  z-index: 5;
}

.notification:hover .notititle {
  transform: translateX(1.15rem)
}

.notibody {
  color: #ffffff;
  padding: 0 1.25rem;
  transition: transform 300ms ease;
  z-index: 5;
  font-size: 40px;
}

.notification:hover .notibody {
  transform: translateX(1.75rem);
  color: #57c9ae;

}

.notiglow,
.notiborderglow {
  position: absolute;
  width: 20rem;
  height: 20rem;
  transform: translate(-50%, -50%);
  background: radial-gradient(circle closest-side at center, white, transparent);
  opacity: 0;
  transition: opacity 300ms ease;
}

.notiglow {
  z-index: 3;
}

.notiborderglow {
  z-index: 1;
}

.notification:hover .notiglow {
  opacity: 0.1
}

.notification:hover .notiborderglow {
  opacity: 0.1
}
.ktiba{
  color: white;
}
.note {
  color: var(--color);
  position: fixed;
  top: 80%;
  left: 50%;
  transform: translateX(-50%);
  text-align: center;
  font-size: 0.9rem;
  width: 75%;
}
.sic{
  margin-left: 400px;
  font-size: 70px;
  color: #049f75;
  margin-top: 100px;
  margin-bottom: 100px;
}
.aboutus{
  margin-left: 200px;
}
.debut{
  margin-left: 00px;

}
.card1 {
  width: 1090px;
  height: 425px;
  background: linear-gradient(135deg, #2ae2c3 0%, #5c6d6a 100%);
  border-radius: 17px;
  box-shadow: 20px 20px 60px #a1a0a0, -20px -20px 60px #ffffff;
 }
 .cha9fa {
  background-color: #ffffff;
  display: flex;
  width: 300px;
  height: 90px;
  position: relative;
  border-radius: 6px;
  transition: 0.7s ease-in-out;

}

.cha9fa:hover {
  transform: scale(1);
}

.cha9fa:hover .left-side {
  width: 100%;
}

.left-side {
  background-color: #049f7600
;
  width: 160px;
  height: 90px;
  border-radius: 4px;
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  transition: 0.3s;
  flex-shrink: 0;
  overflow: hidden;
}

.right-side {
  display: flex;
  align-items: center;
  overflow: hidden;
  cursor: pointer;
  justify-content: space-between;
  white-space: nowrap;
  transition: 0.9s;
}

.right-side:hover {
  background-color: #f9f7f9;
}

.arrow {
  width: 20px;
  height: 20px;
  margin-right: 20px;
}

.new {
  font-size: 23px;
  font-family: "Lexend Deca", sans-serif;
  margin-left: 20px;
}

.karta {
  width: 70px;
  height: 46px;
  background-color: #c7ffbc;
  border-radius: 6px;
  position: absolute;
  display: flex;
  z-index: 10;
  flex-direction: column;
  align-items: center;
  -webkit-box-shadow: 9px 9px 9px -2px rgba(77, 200, 143, 0.72);
  -moz-box-shadow: 9px 9px 9px -2px rgba(77, 200, 143, 0.72);
  -webkit-box-shadow: 9px 9px 9px -2px rgba(77, 200, 143, 0.72);
}

.karta-line {
  width: 65px;
  height: 13px;
  background-color: #80ea69;
  border-radius: 2px;
  margin-top: 7px;
}

@media only screen and (max-width: 480px) {
  .cha9fa {
    transform: scale(0.7);
  }

  .cha9fa:hover {
    transform: scale(0.74);
  }

  .new {
    font-size: 18px;
  }
}

.buttons {
  width: 8px;
  height: 8px;
  background-color: #379e1f;
  box-shadow: 0 -10px 0 0 #26850e, 0 10px 0 0 #56be3e;
  border-radius: 50%;
  margin-top: 5px;
  transform: rotate(90deg);
  margin: 10px 0 0 -30px;
}

.cha9fa:hover .karta {
  animation: slide-top 1.2s cubic-bezier(0.645, 0.045, 0.355, 1) both;
}

.cha9fa:hover .post {
  animation: slide-post 1s cubic-bezier(0.165, 0.84, 0.44, 1) both;
}

@keyframes slide-top {
  0% {
    -webkit-transform: translateY(0);
    transform: translateY(0);
  }

  50% {
    -webkit-transform: translateY(-70px) rotate(90deg);
    transform: translateY(-70px) rotate(90deg);
  }

  60% {
    -webkit-transform: translateY(-70px) rotate(90deg);
    transform: translateY(-70px) rotate(90deg);
  }

  100% {
    -webkit-transform: translateY(-8px) rotate(90deg);
    transform: translateY(-8px) rotate(90deg);
  }
}

.post {
  width: 63px;
  height: 75px;
  background-color: #dddde0;
  position: absolute;
  z-index: 11;
  bottom: 10px;
  top: 120px;
  border-radius: 6px;
  overflow: hidden;
}

.post-line {
  width: 47px;
  height: 9px;
  background-color: #545354;
  position: absolute;
  border-radius: 0px 0px 3px 3px;
  right: 8px;
  top: 8px;
}

.post-line:before {
  content: "";
  position: absolute;
  width: 47px;
  height: 9px;
  background-color: #757375;
  top: -8px;
}

.screen {
  width: 47px;
  height: 23px;
  background-color: #ffffff;
  position: absolute;
  top: 22px;
  right: 8px;
  border-radius: 3px;
}

.numbers {
  width: 12px;
  height: 12px;
  background-color: #838183;
  box-shadow: 0 -18px 0 0 #838183, 0 18px 0 0 #838183;
  border-radius: 2px;
  position: absolute;
  transform: rotate(90deg);
  left: 25px;
  top: 52px;
}

.numbers-line2 {
  width: 12px;
  height: 12px;
  background-color: #aaa9ab;
  box-shadow: 0 -18px 0 0 #aaa9ab, 0 18px 0 0 #aaa9ab;
  border-radius: 2px;
  position: absolute;
  transform: rotate(90deg);
  left: 25px;
  top: 68px;
}

@keyframes slide-post {
  50% {
    -webkit-transform: translateY(0);
    transform: translateY(0);
  }

  100% {
    -webkit-transform: translateY(-70px);
    transform: translateY(-70px);
  }
}

.dollar {
  position: absolute;
  font-size: 16px;
  font-family: "Lexend Deca", sans-serif;
  width: 100%;
  left: 0;
  top: 0;
  color: #4b953b;
  text-align: center;
}

.cha9fa:hover .dollar {
  animation: fade-in-fwd 0.3s 1s backwards;
}

@keyframes fade-in-fwd {
  0% {
    opacity: 0;
    transform: translateY(-5px);
  }

  100% {
    opacity: 1;
    transform: translateY(0);
  }
}

.dropdown-item:hover {
  background-color: #f0f0f0; /* Change the color as per your preference */
}

