.marketingArticles,
.seeAll {
  position: absolute;
  display: inline-block;
}
.marketingArticles {
  bottom: 50px;
  left: 0;
  letter-spacing: 0.02em;
  font-weight: 500;
  width: 255.46px;
  height: 56.06px;
}
.seeAll {
  bottom: 65px;
  left: 1484.01px;
  font-size: var(--font-size-xl);
  color: var(--color-lightseagreen);
  width: 60.48px;
  height: 37.38px;
}
.marketingArticlesParent {
  position: absolute;
  top: 0;
  left: 0;
  width: 1544.49px;
  height: 59.8px;
}
.groupChild,
.groupItem {
  left: 0;
  border-radius: var(--br-xl);
}
.groupChild {
  position: absolute;
  top: 0;
  background-color: var(--color-white);
  box-shadow: 0 18.829999923706055px 47.08px rgba(47, 50, 125, 0.1);
  width: 337.6px;
  height: 768.68px;
}
.groupItem {
  width: 301.5px;
  object-fit: cover;
}
.groupInner,
.groupItem,
.rectangleGroup {
  position: absolute;
  top: 0;
  height: 297.32px;
}
.groupInner {
  left: 0.02px;
  border-radius: var(--br-xl);
  background-color: #171b41;
  width: 301.5px;
  opacity: 0.1;
}
.rectangleGroup {
  left: 0;
  width: 301.52px;
}
.awsCertifiedSolutions,
.loremIpsumDolor {
  position: absolute;
  left: 5.44px;
  display: inline-block;
}
.awsCertifiedSolutions {
  top: 375px;
  font-weight: 500;
  width: 292.47px;
  height: 95.93px;
}
.loremIpsumDolor {
  top: 497.09px;
  font-size: var(--font-size-lg);
  letter-spacing: 0.02em;
  line-height: 180%;
  color: var(--color-slategray);
  width: 296.08px;
  height: 127.07px;
}
.groupParent2 {
  position: absolute;
  top: 24.92px;
  left: 18.93px;
  width: 301.52px;
  height: 624.16px;
}
.b,
.i,
.lina {
  position: absolute;
  letter-spacing: 0.02em;
}
.lina {
  top: 15.93px;
  left: 56.1px;
  font-weight: 500;
  display: inline-block;
  width: 46.08px;
  height: 23.28px;
}
.b,
.i {
  top: 27.41px;
  display: flex;
  align-items: center;
  height: 23.67px;
}
.i {
  left: 199.82px;
  text-decoration: line-through;
  font-weight: 300;
  color: var(--color-gray-500);
  width: 37.91px;
}
.b {
  left: 250.37px;
  font-size: var(--font-size-5xl);
  color: var(--color-lightseagreen);
  width: 46.04px;
}
.image12Icon,
.rectangleDiv {
  position: absolute;
  top: 0;
  width: 39.72px;
}
.rectangleDiv {
  left: 0;
  border-radius: 22.12px;
  background-color: var(--color-gainsboro-100);
  height: 55.13px;
}
.image12Icon {
  left: 0.33px;
  border-radius: var(--br-3xl);
  height: 54.82px;
  object-fit: cover;
}
.linaParent,
.rectangleContainer {
  position: absolute;
  top: 0;
  left: 0;
  width: 40.05px;
  height: 55.13px;
}
.linaParent {
  top: 670.26px;
  left: 24.04px;
  width: 296.41px;
  font-size: var(--font-size-lg);
  color: var(--color-black);
}
.groupFrame {
  left: 0;
  width: 337.6px;
  height: 768.68px;
}
.design,
.groupFrame,
.groupWrapper {
  position: absolute;
  top: 0;
}
.groupWrapper {
  left: 0;
  width: 337.6px;
  height: 768.68px;
  font-size: var(--font-size-5xl);
  color: var(--color-gray-100);
}
.design {
  left: 27.98px;
  letter-spacing: 0.02em;
  line-height: 180%;
  font-weight: 500;
  display: inline-block;
  width: 55.97px;
  height: 27.41px;
}
.groupChild1,
.groupChild2,
.groupChild3,
.groupChild4 {
  position: absolute;
  top: 0;
  left: 0;
  border-radius: var(--br-11xs);
  background-color: var(--color-gainsboro-200);
  border: 1px solid var(--color-gainsboro-100);
  box-sizing: border-box;
  width: 9.03px;
  height: 12.46px;
}
.groupChild2,
.groupChild3,
.groupChild4 {
  top: 13.7px;
}
.groupChild3,
.groupChild4 {
  left: 9.93px;
}
.groupChild4 {
  top: 0;
}
.rectangleParent1 {
  position: absolute;
  top: 1.25px;
  left: 0;
  width: 18.96px;
  height: 26.16px;
}
.designParent,
.month {
  position: absolute;
  top: 347.59px;
  left: 24.37px;
  width: 83.95px;
  height: 27.41px;
}
.month {
  top: 2.49px;
  left: 30.69px;
  letter-spacing: 0.02em;
  line-height: 180%;
  font-weight: 500;
  display: inline-block;
  width: 55.97px;
}
.div,
.groupIcon,
.monthParent {
  position: absolute;
  height: 34.88px;
}
.div {
  top: 0;
  left: 0;
  font-size: var(--font-size-5xl);
  font-family: var(--font-font-awesome-5-free);
  color: var(--color-gainsboro-100);
  display: inline-block;
  width: 21.66px;
}
.groupIcon,
.monthParent {
  top: 347.59px;
  left: 233.8px;
  width: 86.66px;
}
.groupIcon {
  top: 0;
  left: 0;
  width: 301.5px;
  height: 297.32px;
  object-fit: cover;
}
.designGroup {
  position: absolute;
  top: 347.59px;
  left: 24.38px;
  width: 83.95px;
  height: 27.41px;
}
.groupDiv,
.groupParent3,
.groupParent5,
.groupParent7 {
  position: absolute;
  top: 0;
  left: 382.73px;
  width: 337.6px;
  height: 768.68px;
}
.groupDiv,
.groupParent5,
.groupParent7 {
  left: 765.47px;
}
.groupDiv,
.groupParent7 {
  left: 1148.21px;
}
.groupDiv {
  top: 118.35px;
  left: 15.35px;
  width: 1485.81px;
  font-size: var(--font-size-sm);
  color: var(--color-slategray);
}
.rectangleIcon {
  position: absolute;
  top: 143.27px;
  left: 34.3px;
  border-radius: var(--br-xl);
  width: 302.4px;
  height: 297.75px;
  object-fit: cover;
}
.groupChild25,
.groupContainer {
  position: absolute;
  top: 2258.7px;
  left: 92.98px;
  width: 1544.49px;
  height: 887.03px;
}
.groupChild25 {
  top: 0;
  left: 0;
  width: 1733.15px;
  height: 877.19px;
  object-fit: cover;
}
.groupChild26 {
  background-color: var(--color-gray-200);
}
.groupChild26,
.groupChild27,
.rectangleParent11 {
  position: absolute;
  top: 0;
  left: 0;
  width: 1733.15px;
  height: 877.19px;
}
.groupChild27 {
  left: 1030.86px;
  border-radius: var(--br-xl);
  background-color: var(--color-white);
  border: 30px solid var(--color-white);
  box-sizing: border-box;
  width: 452.24px;
  height: 1715.37px;
}
.telegramIcon,
.whatsappIcon {
  position: absolute;
  top: 1547.19px;
  left: 1315.21px;
  width: 28.89px;
  height: 43.05px;
}
.telegramIcon {
  left: 1263.75px;
}
.groupChild28 {
  top: 0;
  left: 0;
  object-fit: cover;
}
.groupChild28,
.groupChild29,
.groupChild30,
.rectangleParent13 {
  position: absolute;
  width: 399.89px;
  height: 360.56px;
}
.groupChild29 {
  top: 0;
  left: 0;
  background-color: var(--color-gray-200);
}
.groupChild30,
.rectangleParent13 {
  top: 40.36px;
  left: 1057.04px;
}
.groupChild30 {
  top: 0;
  left: 0;
  border-radius: var(--br-xs);
  background-color: var(--color-lightseagreen);
  height: 84.76px;
}
.buyNow {
  position: absolute;
  top: 22.87px;
  left: 990.77px;
  display: inline-block;
  width: 150.24px;
  height: 40.36px;
  background-color: #49bbbd;
}
.rectangleParent14 {
  position: absolute;
  top: 647.13px;
  left: 1057.04px;
  width: 399.89px;
  height: 84.76px;
  color: var(--color-white);
}
.groupChild31 {
  position: absolute;
  top: 0;
  left: 0;
  border-radius: var(--br-xs);
  background-color: var(--color-gray-300);
  width: 180.54px;
  height: 84.76px;
}
.overview {
  position: absolute;
  top: 22.87px;
  left: 45.13px;
  display: inline-block;
  width: 90.27px;
  height: 40.36px;
}
.rectangleParent15 {
  position: absolute;
  top: 513.94px;
  left: 0;
  width: 180.54px;
  height: 84.76px;
}
.rectangleParent16 {
  top: 513.94px;
  left: 225.67px;
}
.groupChild34,
.rectangleParent16,
.rectangleParent18 {
  position: absolute;
  width: 180.54px;
  height: 84.76px;
}
.groupChild34 {
  top: 0;
  left: 0;
  border-radius: var(--br-xs);
  background-color: var(--color-lightseagreen);
}
.rectangleParent18 {
  top: 5.38px;
  left: 225.67px;
  color: var(--color-white);
}
.rectangleParent17 {
  position: absolute;
  top: 508.56px;
  left: 451.34px;
  width: 406.21px;
  height: 90.14px;
}
.facebookIcon,
.twitterIcon,
.youtubeIcon {
  position: absolute;
  top: 1613.12px;
  left: 1057.94px;
  width: 28.89px;
  height: 43.05px;
}
.facebookIcon,
.youtubeIcon {
  top: 1547.19px;
  left: 1160.85px;
}
.facebookIcon {
  height: 1.55%;
  width: 2.45%;
  top: 45.79%;
  right: 0;
  bottom: 52.66%;
  left: 97.55%;
  max-width: 100%;
  overflow: hidden;
  max-height: 100%;
}
.instagramIcon {
  position: absolute;
  top: 1547.19px;
  left: 1212.3px;
  width: 28.89px;
  height: 43.05px;
}
.div4,
.off {
  font-weight: 600;
}
.div4 {
  position: absolute;
  top: 0;
  left: 1.81px;
  font-size: 45px;
  letter-spacing: 0.02em;
  display: inline-block;
  width: 148.94px;
  height: 88.8px;
}
.off {
  top: 16.14px;
  left: 289.76px;
  font-size: var(--font-size-9xl);
  color: var(--color-gray-500);
  width: 111.93px;
  height: 45.74px;
}
.classLaunchedLess,
.hourLeftAt,
.off {
  position: absolute;
  letter-spacing: 0.02em;
  display: inline-block;
}
.hourLeftAt {
  top: 129.16px;
  left: 106.52px;
  font-size: var(--font-size-xl);
  font-weight: 600;
  color: var(--color-lightseagreen);
  width: 221.16px;
  height: 45.74px;
}
.classLaunchedLess {
  top: 828.76px;
  left: 0;
  font-size: var(--font-size-sm);
  line-height: 180%;
  color: var(--color-slategray);
  width: 383.64px;
  height: 71.31px;
}
.shareThisCourse,
.thisCourseIncluded,
.training5Or {
  letter-spacing: 0.02em;
  font-weight: 600;
  display: inline-block;
  height: 45.74px;
}
.thisCourseIncluded {
  position: absolute;
  top: 387.47px;
  left: 1.81px;
  width: 315.04px;
}
.shareThisCourse,
.training5Or {
  width: 374.61px;
}
.training5Or {
  position: absolute;
  top: 742.65px;
  left: 1.81px;
}
.shareThisCourse {
  top: 1005px;
  left: 0;
}
.div5,
.lineIcon,
.shareThisCourse {
  position: absolute;
}
.div5 {
  top: 17.49px;
  left: 170.61px;
  font-size: var(--font-size-9xl);
  text-decoration: line-through;
  letter-spacing: 0.02em;
  font-weight: 600;
  color: var(--color-gray-500);
  display: inline-block;
  width: 98.39px;
  height: 55.16px;
}
.lineIcon {
  top: 346.44px;
  left: 2.71px;
  max-height: 100%;
  width: 398.99px;
}
.groupChild35,
.lineDiv {
  position: absolute;
  top: 696.41px;
  left: 2.21px;
  border-top: 1px solid var(--color-slategray);
  box-sizing: border-box;
  width: 399.99px;
  height: 1px;
}
.groupChild35 {
  top: 952.03px;
}
.parent {
  position: absolute;
  top: 425.14px;
  left: 1055.23px;
  width: 401.69px;
  height: 1050.75px;
  font-size: var(--font-size-11xl);
  color: var(--color-black);
}
.groupParent11,
.moduls {
  position: absolute;
  top: 0;
  left: 0;
  width: 1622.28px;
  height: 1715.37px;
}
.moduls {
  left: 27.08px;
  letter-spacing: 0.02em;
  font-weight: 600;
  display: inline-block;
  width: 106.52px;
  height: 26.91px;
}
.div6,
.modulsParent {
  position: absolute;
  height: 30.94px;
}
.div6 {
  top: 0;
  left: 0;
  font-size: var(--font-size-xl);
  font-family: var(--font-font-awesome-5-free);
  color: var(--color-lightseagreen);
  display: inline-block;
  width: 18.05px;
}
.modulsParent {
  top: 137.23px;
  left: 0.9px;
  width: 133.6px;
}
.certificationOfCompletion,
.div7 {
  position: absolute;
  display: inline-block;
}
.certificationOfCompletion {
  top: 1.35px;
  left: 22.57px;
  letter-spacing: 0.02em;
  font-weight: 600;
  width: 315.04px;
  height: 28.25px;
}
.div7 {
  top: 0;
  left: 0;
  font-size: var(--font-size-xl);
  font-family: var(--font-font-awesome-5-free);
  color: var(--color-lightseagreen);
  width: 13.54px;
  height: 30.94px;
}
.accessOnAll,
.certificationOfCompletionParent {
  position: absolute;
  top: 87.45px;
  left: 1.8px;
  width: 337.6px;
  height: 30.94px;
}
.accessOnAll {
  top: 1.35px;
  left: 27.08px;
  letter-spacing: 0.02em;
  font-weight: 600;
  display: inline-block;
  width: 315.04px;
  height: 24.22px;
}
.accessOnAllDevicesParent {
  position: absolute;
  top: 43.05px;
  left: 0;
  width: 342.12px;
  height: 30.94px;
}
.moneyBackGuarantee {
  position: absolute;
  top: 0;
  left: 26.18px;
  letter-spacing: 0.02em;
  font-weight: 600;
  display: inline-block;
  width: 315.04px;
  height: 28.25px;
}
.groupParent12,
.moneyBackGuaranteeParent {
  position: absolute;
  top: 0;
  left: 0;
  width: 341.21px;
  height: 30.94px;
}
.groupParent12 {
  top: 904.1px;
  left: 1060.65px;
  width: 342.12px;
  height: 168.17px;
  font-size: var(--font-size-sm);
  color: var(--color-gray-500);
}
.groupParent10 {
  position: absolute;
  top: 442.63px;
  left: 141.72px;
  width: 1622.28px;
  height: 1715.37px;
}
.groupParent,
.groupWrapper7,
.groupWrapper8 {
  position: absolute;
  top: 0;
  left: 0;
  width: 1764px;
  height: 2158px;
}
.groupParent,
.groupWrapper7 {
  font-size: var(--font-size-xl);
  color: var(--color-gray-400);
}
.groupParent {
  top: 149px;
  height: 3145.73px;
  font-size: var(--font-size-11xl);
  color: var(--color-black);
}
.polygonIcon {
  position: absolute;
  top: 0;
  left: 0;
  border-radius: 6px;
  width: 84.73px;
  height: 103.4px;
}
.totc {
  position: absolute;
  top: 21.18px;
  left: 22.46px;
  letter-spacing: 0.04em;
  display: inline-block;
  width: 93.92px;
  height: 59.8px;
}
.polygonParent {
  position: absolute;
  top: 0;
  left: 0;
  width: 116.38px;
  height: 103.4px;
  font-size: 32px;
}
.aboutUs,
.blog,
.careers,
.courses,
.home,
.lina4 {
  position: absolute;
  top: 32.15px;
  left: 764.6px;
  letter-spacing: 0.02em;
  display: inline-block;
  width: 68.4px;
  height: 41.11px;
}
.aboutUs,
.blog,
.careers,
.courses,
.lina4 {
  top: 31.15px;
  left: 1090.25px;
  width: 91.88px;
}
.aboutUs,
.blog,
.courses,
.lina4 {
  left: 914.67px;
  width: 94.94px;
}
.aboutUs,
.blog,
.lina4 {
  left: 1264.81px;
  width: 51.04px;
}
.aboutUs,
.lina4 {
  left: 1397.52px;
  width: 104.13px;
}
.lina4 {
  top: 34.88px;
  left: 1651.71px;
  font-size: var(--font-size-lg);
  font-weight: 500;
  color: var(--color-black);
  width: 38.79px;
  height: 33.64px;
}
.groupChild36 {
  top: 0;
  left: 0;
  border-radius: var(--br-41xl);
  background-color: var(--color-gainsboro-100);
}
.div10,
.groupChild36,
.image12Icon4,
.rectangleParent19 {
  position: absolute;
  width: 64.31px;
  height: 78.49px;
}
.image12Icon4 {
  top: 0;
  left: 0;
  border-radius: var(--br-41xl);
  object-fit: cover;
}
.div10,
.rectangleParent19 {
  top: 12.46px;
  left: 1572.09px;
}
.div10 {
  top: 41.11px;
  left: 1702.75px;
  font-size: var(--font-size-lg);
  letter-spacing: 0.02em;
  font-family: var(--font-font-awesome-5-free);
  color: var(--color-black);
  display: inline-block;
  width: 12.25px;
  height: 26.16px;
}
.groupParent13 {
  position: absolute;
  top: 27px;
  left: 23px;
  width: 1715px;
  height: 103.4px;
  font-size: var(--font-size-3xl);
  color: var(--color-dimgray);
}
.courseDetailChild {
  position: absolute;
  top: 1258px;
  left: 118px;
  border-radius: 16px;
  background-color: rgba(157, 204, 255, 0.3);
  width: 950px;
  height: 764px;
}
.courseDetailItem {
  position: absolute;
  top: 1700px;
  left: 165px;
  width: 844px;
  height: 2.02px;
  object-fit: contain;
}
.classLaunchedLess1,
.lina5 {
  position: absolute;
  letter-spacing: 0.02em;
  display: inline-block;
}
.classLaunchedLess1 {
  top: 94px;
  left: 1.65px;
  line-height: 180%;
  width: 847px;
  height: 72px;
}
.lina5 {
  top: 3px;
  left: 82.65px;
  font-size: var(--font-size-lg);
  font-weight: 500;
  color: var(--color-black);
  width: 42.73px;
  height: 30.36px;
}
.groupChild37 {
  position: absolute;
  top: 0;
  left: 0;
  border-radius: var(--br-41xl);
  background-color: var(--color-gainsboro-100);
  width: 70.84px;
  height: 70.84px;
}
.image12Icon5 {
  border-radius: var(--br-41xl);
  object-fit: cover;
}
.image12Icon5,
.rectangleParent20 {
  position: absolute;
  top: 0;
  left: 0;
  width: 70.84px;
  height: 70.84px;
}
.pnl {
  position: absolute;
  top: 0;
  left: 0;
  width: 848.65px;
  height: 166px;
}
.div11,
.month4 {
  position: absolute;
}
.month4 {
  top: 2px;
  left: 34px;
  letter-spacing: 0.02em;
  line-height: 180%;
  font-weight: 500;
  display: inline-block;
  width: 62px;
  height: 22px;
}
.div11 {
  top: 0;
  left: 0;
  font-size: var(--font-size-5xl);
  font-family: var(--font-font-awesome-5-free);
  color: var(--color-gainsboro-100);
}
.groupWrapper9,
.monthParent2 {
  position: absolute;
  top: 0;
  left: 0;
  width: 96px;
  height: 28px;
}
.groupWrapper9 {
  top: 49px;
  left: 756.65px;
  font-size: var(--font-size-sm);
}
.courseDetailInner,
.groupParent14 {
  position: absolute;
  top: 1531px;
  left: 156px;
  width: 852.65px;
  height: 166px;
}
.courseDetailInner {
  top: 1290px;
  border-radius: var(--br-xl);
  width: 257px;
  height: 199px;
}
.topRaiting {
  position: absolute;
  top: 1390px;
  left: 227px;
  letter-spacing: 0.02em;
  color: var(--color-gray-500);
  display: inline-block;
  width: 121px;
  height: 33px;
}
.vectorIcon {
  position: absolute;
  height: 0.64%;
  width: 7.37%;
  top: 39.34%;
  right: 80.1%;
  bottom: 60.02%;
  left: 12.53%;
  max-width: 100%;
  overflow: hidden;
  max-height: 100%;
}
.outOf5 {
  position: absolute;
  top: 1314px;
  left: 215px;
  font-size: var(--font-size-11xl);
  letter-spacing: 0.02em;
  font-weight: 600;
  color: var(--color-gray-500);
  display: inline-block;
  width: 161px;
  height: 38px;
}
.groupParent15,
.image18Icon {
  position: absolute;
  top: 1751px;
  left: 146px;
  width: 852.65px;
  height: 166px;
}
.image18Icon {
  top: 27px;
  left: 13px;
  width: 202px;
  height: 113px;
  object-fit: cover;
}
.courseDetail {
  position: relative;
  background-color: var(--color-white);
  width: 100%;
  height: 3444px;
  overflow: hidden;
  text-align: left;
  font-size: var(--font-size-xl);
  color: var(--color-slategray);
  font-family: var(--font-poppins);
}
.courseCard {
  margin-top: 100px;
  display: grid;
  grid-template-columns: 1fr 2fr 1fr;
  gap: 10px;
  padding: 15px;
  border: 1px solid #ddd;
  border-radius: 5px;
  margin: 10px;
}

.imageContainer {
  display: flex;
  align-items: center;
}

.courseImage {
  width: 100%;
  max-width: 100px;
  height: auto;
  margin-right: 10px;
}

.courseInfo {
  display: flex;
  flex-direction: column;
}

.certification {
  font-weight: bold;
}

.priceContainer {
  display: flex;
  align-items: center;
}

.currency {
  font-style: italic;
}

.icon {
  width: 20px;
  height: 20px;
  margin-left: 5px;
}

.additionalInfo {
  display: flex;
  flex-direction: column;
  align-items: flex-end;
}

.category {
  font-weight: bold;
}

.duration {
  display: flex;
  align-items: center;
}

.clock {
  margin-left: 5px;
}
/* Assuming this is your CSS code */
.reviewGrid {
  grid-template-columns: repeat(
    auto-fill,
    minmax(300px, 1fr)
  ); /* Adjust the minmax value as needed */
  gap: 50px;
}

.reviewItem {
  /* Add styles for each individual item within the grid */
  padding: 10px;
  border: 1px solid #ddd;
  border-radius: 5px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.reviewContent {
  /* Add styles for the review content */
  margin-bottom: 10px;
}

.userName {
  /* Add styles for the user name (Lina) */
  font-weight: bold;
}

.imageContainer {
  /* Add styles for the image container */
  display: flex;
  align-items: center;
}

.iconImage {
  /* Add styles for the image */
  width: 20px;
  height: 20px;
  margin-left: 5px;
}
