/* Reset some default styles */
body, h1, h2, h3, p, ul {
  margin: 0;
  padding: 0;
}

body {
  /* font-family: 'Arial', sans-serif; */
  background-color: #f4f4f4;
  color: #333;
  font-family: var(--font-poppins);
  font-size: 21px;
}

.footer {
  background-color: #232323;
  padding: 20px 0;
  text-align: center;
  color: #fff;
  font-family: 'Roboto', sans-serif;
}

.footer-section {
  padding: 30px 0;
  background-color: #101828;
  color: #fff;
}

.row {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 20px;
}

.footer-content {
  max-width: 1100px;
  margin: 0 auto;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.footer-column {
  flex-basis: 20%; /* Adjust this value to control the width of the columns */
  text-align: center;
  line-height: 1.5;
  list-style: none;
}

/* Add specific styles for the col-md-4 */
/* .col-md-4 {
  flex-basis: 40%; 
}

.col-md-3{
  flex-basis: 20%; 
} */

.footer-column h3 {
  font-size: 24px;
  margin-bottom: 20px;
  color: #0a8d70;
}

.footer-column ul {
  list-style: none;
  padding: 0;
}

.footer-column li {
  margin-bottom: 12px;
}

.footer-column a {
  color: #ccc;
  text-decoration: none;
  font-weight: bold;
}

.footer-column a:hover {
  color: #43b59d;
}

.social-links li {
  display: inline-block;
  margin-right: 10px;
}

.social-links img {
  width: 40px;
  height: 40px;
  border-radius: 50%;
  filter: grayscale(60%);
  transition: filter 0.6s ease-in-out;
}

.social-links img:hover {
  filter: none;
}

.footer-bottom {
  border-top: 1px solid #555;
  padding-top: 20px;
  margin-top: 20px;
}

.Copyright {
  display: flex;
  justify-content: center;
}

@media (max-width: 768px) {
  .footer-content {
    flex-direction: column;
  }

  .footer-column {
    text-align: center;
    margin-bottom: 20px;
  }
}

.polygon-parent {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.group-item {
  width: 150px; 
  height: auto; 
  margin-bottom: 10px; 
}

.totc {
  font-size: 16px; 
  color: #fff; 
}
