.footer {
  background-color: #2d2d2d;
  padding: 40px 0;
  text-align: center;
  color: #f1ecec;
  font-family: sans-serif;
  margin-top: 20px;
}
.footer-section {
  padding: 30px 0;
  color: #fff;
  background: linear-gradient(to right, #049f75, #29d8aa, #049f75, #29d8aa, #049f75, #29d8aa, #049f75);
  background-size: 1400% 100%;
  animation: rainbowEffect 7s linear infinite;
}

@keyframes rainbowEffect {
  0% {
    background-position: 0% 0;
  }
  100% {
    background-position: 100% 0;
  }
}

body>footer>div.container>div>div:nth-child(2)>ul {
  color: #fff;
}

.row {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 20px;
margin-left: 50px;
}
.cont{
  margin-right: -100px;
  color: #fff;
}
.footer-content {
  max-width: 1100px;
  margin: 0 auto;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.footer-column {
  flex-basis: 30%;
  text-align: center;
  line-height: 1.5;
  list-style: none;

}

.footer-column h3 {
  font-size: 42px;
  margin-bottom: 17px;
  color: #0a8d70;
  text-align: center;
  font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

.footer-column ul {
  list-style: none;
  padding: 0;
}

.footer-column li {
  margin-bottom: 10px;
}

.footer-column a {
  color: #e0dddd;
  text-decoration: none;
}

.footer-column a:hover {
  color: #43b59d;
}

.social-links li {
  display: inline-block;
  margin-right: 10px;
}

.social-links img {
  width: 35px;
  height: 35px;
  border-radius: 50%;
  filter: grayscale(60%);
  transition: filter 0.6s ease-in-out;
}

.social-links img:hover {
  filter: none;
}

.footer-bottom {
  border-top: 1px solid #ccc;
  padding-top: 20px;
  margin-top: 20px;
}

.Copyright {
  display: flex;
  flex-wrap: nowrap;
  justify-content: center;
}

@media (max-width: 768px) {
  .footer-content {
    flex-direction: column;
  }

  .footer-column {
    text-align: center;
    margin-bottom: 20px;
  }
}
.taswira img.group-item {
  width: 35%; /* Set the width to 100% of the parent container */
  height: auto;
  margin-left: 590px; /* Maintain the aspect ratio and adjust the height accordingly */
  /* You can also set a specific width and height values if needed */
}